.card {
  width: 24%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid palevioletred;
  margin: .5%;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  line-height: 22px;
  color: darkslategray;
}

.back {
  visibility: hidden;
}

.front {
  visibility: visible;
}
